<div id="result">
	<article id="quote">
		<blockquote>&ldquo;<%= @cliche[:quote] %>&rdquo;</blockquote>
	</article>
	<nav>
		<ul>
			<li><a href="/" class="ajax">Another Clich&eacute;</a></li>
			<li><a href="/cliche/<%= @cliche[:index] %>">Permalink</a></li>
		</ul>
	</nav>
</div>