<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>The Gas Station Podisode Presents: The Clichefier</title>
	<meta name="description" content="">
	<meta name="author" content="The Gas Station Podisode">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
	<link rel="stylesheet" href="/stylesheets/typefaces.css">
	<link rel="stylesheet" href="/stylesheets/application.css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="container">
		<header>
			<h1>The Gas Station Podisode Presents&hellip;</h1>
			<h2>The Clich&eacute;-o-matic</h2>
		</header>

		<section id="content">
			<%= yield %>
		</section>

		<footer>

		</footer>
	</div>
	<script src="/javascripts/jquery.core.js"></script>
	<script src="/javascripts/jquery.fittext.js"></script>
	<script src="/javascripts/application.js"></script>
</body>