html {
	background-image: url(../images/background.jpg);
}

header {
	display: block;
	width: 100%;
	padding-top: 50px;
}

header h1 {
	font-family: 'LobsterRegular', Arial, sans-serif;
	font-size: 30px;
	color: #fafafa;
	text-shadow: -1px -1px 0px #486e7f;
	margin-bottom: -20px;
}

header h2 {
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	display: block;
	width: 100%;
	font-size: 300px;
	color: #26414e;
	text-shadow: 1px 1px 0px #b8e7ff;
	letter-spacing: -3px;
}

div#container {
	width: 80%;
	margin: auto;
	max-width: 1500px;
}

article#quote {
	display: block;
	width: 75%;
	margin: auto;
	background-color: #f7f8f3;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: 1px 1px 30px #46606d;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 1px 1px 30px #46606d;
	-webkit-border-radius: 10px;
	padding: 50px;
}

article#quote blockquote {
	font-size: 40px;
	text-align: center;
	color: #4b4f51;
	text-shadow: 1px 1px 0px #cccccc;
	font-family: georgia;
}

nav {
	margin: auto;
	width: 60%;
	display: block;
	overflow: hidden;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}

nav ul {
	float: right;
}

nav ul li {
	float: left;
	margin-left: 10px;
}

nav ul li a {
	padding: 10px;
	background-color: #26414e;
	display: block;
	-moz-border-radius: 0px 0px 10px 10px;
	-moz-box-shadow: 1px 1px 30px #46606d;
	-webkit-border-radius: 0px 0px 10px 10px;
	-webkit-box-shadow: 1px 1px 30px #46606d;
	color: #ffffff;
	text-decoration: none;
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	font-size: 23px;
	text-shadow: 1px 1px 0px #000000;
	border: 1px solid #74c8f2;
	border-top: 0px;
}

nav ul li a:hover {
	background-color: #4d95b9;
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
	div#container {
		width: 95%;
	}


@media screen and (max-device-width: 480px) {
	div#container {
		width: 95%;
	}
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

